<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/vuetify@3.0.5/dist/vuetify.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
    <v-app id="inspire" theme="dark">
      <v-system-bar class="text-black">
        <v-menu>
          <template v-slot:activator="{ props }">
            <v-btn variant="text" density="compact" v-bind="props">
              File
            </v-btn>
          </template>
          <v-card min-width="200">
            <v-list>
              <v-list-item color="primary" link @click.prevent="$refs.file.click()">
                <span>new</span>
                <v-file-input v-show="false" ref="file" @change="addImage"></v-file-input>
              </v-list-item>
            </v-list>
          </v-card>
        </v-menu>
        <v-spacer />
      </v-system-bar>
      <v-navigation-drawer rail permanent>
        <v-list density="compact" nav>
          <v-list-item color="primary" prepend-icon="mdi-rectangle-outline" title="box" value="box"
            @click="activate('box')"></v-list-item>
          <v-list-item color="primary" prepend-icon="mdi-brush" title="brush" value="brush"
            @click="activate('brush')"></v-list-item>
          <v-list-item color="primary" prepend-icon="mdi-eraser" title="eraser" value="eraser"
            @click="activate('eraser')"></v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-main>
        <v-container>
          <v-row>
            <v-col cols="12" class="pa-15">
              <v-sheet v-show="listLayers.length > 0" class="mx-auto" :height="height" :width="width">
                <canvas id="canvas" ref="canvas"></canvas>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
      <v-navigation-drawer location="right" permanent>
        <v-container>
          <v-row>
            <v-col cols="12" class="ma-0 pa-0">
              <v-card height="45vh" flat>
                <v-tabs v-model="tab" density="compact">
                  <v-tab value="one">History</v-tab>
                </v-tabs>

                <v-card-text>
                  <v-window v-model="tab">
                    <v-window-item value="one">
                      <v-list lines="one" style="max-height: 35vh" class="overflow-y-auto">
                        <v-list-item color="primary" v-for="(memento,n) in mementos" :key="n" @click="urdo(n)"
                          :value="n" link>
                          {{memento.state[0]['action']}}
                        </v-list-item>
                      </v-list>
                    </v-window-item>
                  </v-window>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" class="ma-0 pa-0">
              <v-card height="45vh" flat>
                <v-tabs v-model="tab1" density="compact">
                  <v-tab value="one">Layers</v-tab>
                </v-tabs>

                <v-card-text>
                  <v-window v-model="tab">
                    <v-window-item value="one">
                      <v-list v-model="activeLayer" lines="one" style="max-height: 35vh" class="overflow-y-auto">
                        <v-list-item color="primary" v-for="(layer,n) in listLayers" :key="n" :value="n" @click="activeLayer=n" link>
                          <template v-slot:prepend>
                            <v-icon @click="setVisibility(n)">{{layer.visible ? 'mdi-eye' : 'mdi-eye-off'}}</v-icon>
                          </template>
                          <v-list-item-title v-text="layer.type" contenteditable="true"></v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-window-item>
                  </v-window>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" class="ma-0 pa-0">
              <v-card height="5vh" flat>
                <v-icon icon="mdi-layers-plus" class="mr-3" @click="addLayer()"></v-icon>
                <v-menu>
                  <template v-slot:activator="{ props }">
                    <v-icon icon="mdi-circle-slice-4" class="mr-3" v-bind="props"></v-icon>
                  </template>
                  <v-card min-width="200">
                    <v-list>
                      <v-list-item link color="primary" @click="addAdjustment('grayscale')">
                        <v-list-item-title>Grayscale</v-list-item-title>
                      </v-list-item>
                      <v-list-item link color="primary" @click="addAdjustment('brightness')">
                        <v-list-item-title>Brightness</v-list-item-title>
                      </v-list-item>
                      <v-list-item link color="primary" @click="addAdjustment('inverse')">
                        <v-list-item-title>Inverse</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-card>
                </v-menu>
                <v-icon icon="mdi-battery" class="mr-2"></v-icon>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-navigation-drawer>
      <v-navigation-drawer rail location="right" permanent></v-navigation-drawer>
    </v-app>
  </div>
  <script type="module" src="index.mjs"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.1/dist/vuetify.min.js"></script>
</body>

</html>